{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "flow",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    ["transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "flow-react-proptypes",
        "transform-react-jsx-source"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
