body {
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
a {
  color: #007eff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
code {
  padding: 0.2em 0.5em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: black;
  font-weight: 500;
  line-height: 1;
  margin-bottom: .66em;
  margin-top: 0;
}
h1 .right,
h2 .right,
h3 .right,
h4 .right,
h5 .right,
h6 .right,
.h1 .right,
.h2 .right,
.h3 .right,
.h4 .right,
.h5 .right,
.h6 .right {
  font-size: 0.6em;
}
h1,
.h1 {
  font-size: 3em;
}
h2,
.h2 {
  font-size: 2em;
  font-weight: 300;
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font-size: 1em;
}
h5,
.h5 {
  font-size: .85em;
}
h6,
.h6 {
  font-size: .75em;
}
.page-body,
.page-footer,
.page-header {
  padding: 30px 0;
}
.page-header {
  background: linear-gradient(135deg, #F97794 0%, #623AA2 100%);
  color: #d8cee8;
}
.page-header h1,
.page-header h2,
.page-header h3 {
  color: white;
}
.page-header p {
  font-size: 1.2em;
  margin: 0;
}
.page-header a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  text-decoration: none;
}
.page-header a:hover,
.page-header a:focus {
  border-bottom-color: white;
  outline: none;
  text-decoration: none;
}
.right {
  float: right;
  position: relative;
  bottom: -0.2em;
}
.page-subheader {
  background-color: #e6f2ff;
  line-height: 20px;
  padding: 30px 0;
}
.page-subheader__button {
  float: right;
}
.page-subheader__link {
  border-bottom: 1px solid rgba(0, 126, 255, 0.3);
  outline: none;
  text-decoration: none;
}
.page-subheader__link:hover,
.page-subheader__link:focus {
  border-bottom-color: #007eff;
  outline: none;
  text-decoration: none;
}
.page-footer {
  background-color: #fafafa;
  color: #999;
  padding: 30px 0;
  text-align: center;
}
.page-footer a {
  color: black;
}
@media (min-width: 480px) {
  .page-body,
  .page-header {
    padding: 60px 0;
  }
  .page-header {
    font-size: 1.4em;
  }
  .page-subheader {
    font-size: 1.125em;
    line-height: 28px;
  }
}
.switcher {
  color: #999;
  cursor: default;
  font-size: 12px;
  margin: 10px 0;
  text-transform: uppercase;
}
.switcher .link {
  color: #007eff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}
.switcher .link:hover {
  text-decoration: underline;
}
.switcher .active {
  color: #666;
  font-weight: bold;
  margin-left: 10px;
}
.section {
  margin-bottom: 40px;
}
.hint {
  font-size: .85em;
  margin: 15px 0;
  color: #666;
}
.virtual-scroll {
  z-index: 1;
}
